.banner2{
    background:#eee;
}
.banner-img-1{
    display: flex;
    justify-content: center;
}
.banner-img-1 > img{
    width:1200px;
}
.banner2-brands{
    display: flex;
    justify-content: space-around;
}
.banner2-brands > img{
    width:250px;
    transition:all 1s;
}

.banner2-brands > img:hover{
    transform:scale(1.1);
    filter:drop-shadow(1px 4px 4px rgba(0,0,0,.6))
}


@media screen and (max-width:820px){
    .banner2-brands > img{
        width:200px;
    }
}
@media screen and (max-width:768px){
    .banner2-brands > img{
        width:180px;
    }
}

@media screen and (max-width:540px){
    .banner2-brands > img{
        width:120px;
    }
}
@media screen and (max-width:414px){
    .banner2-brands > img{
        width:80px;
    }
}